.guest-dashboard {

}

.nav-bar {
  height: 10%;
  background: #fff;
  border-bottom: solid 1px #000;
  font-family: $secondary-font;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  padding: 0px 2% 0px 2%;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-guest-name {
  display: inline;
}

.guest-header {
  background: url('../images/guest-bg.jpg') no-repeat center center;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: black solid 1px;
}

.guest-title {
  font-size: 3em;
  font-family: $secondary-font;
  color: #fff;
  font-weight: 400;
  text-shadow: 2px 2px 5px black;
  margin-top: 10%;
}

.guest-sub-title {
  font-size: 1em;
  font-family: $secondary-font;
  color: #fff;
  font-weight: 400;
  text-shadow: 2px 2px 5px black;
  margin: 2% 0px 2% 0px;
}

.bookings-column {
  width: 23%;
  background-color: blanchedalmond;
}

.dashboard-bottom {
  display: flex;
  flex-direction: row;
}

.guest-main-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.avail-form {
  font-family: $secondary-font;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
}

.date-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  font-size: 1.2em;
  width: 40vh;
}

.date-input {
  font-family: $secondary-font;
  font-size: .85em;
  width: 100%;
}

.check-rates-btn {
  font-family: $secondary-font;
  font-size: 1em;
  width: 40vh;
  height: 5vh;
}

.trip-title {
  padding: 10%;
  border-bottom: black solid 1px;
  margin: 5%;
  font-family: $primary-font;
  font-weight: 400;
}

.booking-card {
  font-family: $secondary-font;
  padding: 10%;
  margin: 5%;
  background-color: #eedbc0;
  border-radius: 5px;
}
