.manager-dashboard {
  height: 100%;
  width: 100%;
}

.manager-bottom {
  @include flex-row;
  padding: 10% 3% 5% 3%;
}

.manager-form-container {
  font-family: $secondary-font;
  @include flex-column;
  align-items: center;
  padding-top: 2%;
  width: 33%;
  height: 100%;
}

.nav-space {
  height: 10%;
  background-color: blue;
}

.manager-search-label {
  @include flex-column;
  position: relative;
}

.search-input {
  width: 100%;
  height: 5vh;
  margin: 2% 2% 2% 0;
  font-size: 1em;
  border-radius: 2px;
}

.manager-search-btn {
  width: 50%;
  height: 30px;
  border-radius: 2px;
}

.manager-form {
  margin-top: 20%;
}

.hotel-stats-container {
  padding: 3%;
  font-family: $secondary-font;
  width: 66%;
}

.stat-card {
  font-family: $secondary-font;
  width: 100%;
  height: 50px;;
  background: lightgrey;
  margin: 20px 0 20px 0;
  padding: 3%;
  border-radius: 2px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: $light-color;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: $light-color;
}

.guest-bookings-container {
  width: 33%;
  display: inline-block;
}

.guest-booking-card {
  @include flex-row;
  padding: 0 5% 5% 5%;
  margin: 0 10% 5% 10%;
  border-bottom: 1px solid black;
  justify-content: space-around;
}

.manager-side {
  text-align: center;
}

.delete-btn {
  width: 20%;
}

.manager-form {
  width: 66%;
  display: inline-block;
  margin-top: 0px;
}

.check-rates-manager-btn {
  font-family: $secondary-font;
  font-size: 1em;
  width: 40vh;
  height: 5vh;
}
