.manager-dashboard {
  height: 100%;
  width: 100%;
}

.manager-bottom {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: auto;
  padding: 10% 3% 5% 3%;
}

.manager-form-container {
  font-family: $secondary-font;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
}

.nav-space {
  height: 10%;
  background-color: blue;
}

.manager-search-label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-input {
  width: 40vh;
  height: 5vh;
  margin: 2% 2% 2% 0;
  font-size: 1em;
  border-radius: 2px;
}

.manager-search-btn {
  width: 50%;
  height: 30px;
  border-radius: 2px;
}

.manager-form {
  margin-top: 20%;
}

.hotel-stats-container {
  padding: 3%;
  font-family: $secondary-font;
}

.stat-card {
  font-family: $secondary-font;
  // box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.35);
  width: 100%;
  height: 30%;
  background: lightgrey;
  margin: 20px 0 20px 0;
  padding: 3%;
  border-radius: 2px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.guest-bookings-container {
  width: 30%;
}

.guest-booking-card {
  margin: 0 5% 5% 5%;
  text-align: center;
}
