.manager-dashboard {
  height: 100%;
  width: 100%;
}

.manager-bottom {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: auto;
  padding: 10% 5% 5% 5%;
}

.manager-form-container {
  font-family: $secondary-font;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
}

.nav-space {
  height: 10%;
  background-color: blue;
}

.manager-search-label {
  display: flex;
  flex-direction: column;
}

.search-input {
  width: 40vh;
  height: 5vh;
  margin: 2% 2% 2% 0;
  font-size: 1em;
}

.manager-search-btn {
  width: 50%;
  height: 5%;
}

.manager-form {
  margin-top: 3%;
}

.hotel-stats-container {
  background: blue;
}

.stat-card {
  width: 100%;
  height: 30%;
}
