@import 'variables';
@import 'loginpage';
@import 'customer-layout';
@import 'manager-layout';

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $primary-background;
}
